body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}

.wa-filter-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    border-bottom: 10px solid #4a4a98;
    padding-left: 20px;
}

.filter-tab-outer {
    padding: 20px;
    background-color: #e4f2ff;
    border-radius: 20px;
    margin: 0 20px;
}

.filter-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin: 15px 0;
}
.filter-tab-inputs{
    width: 27%;
}
.filter-tab-inputs-1{
    width: 20%;
}
.filter-tab-name {
    margin-left: 10px;
    font-size: 12px;
    color: #303030;
}

.filter-input::placeholder {
    color: #8697a0;
}

.filter-input,
.filter-input-1,
.filter-input-text {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: #ccc 1px solid;
    color: #8697a0;
    background-color: #fff;
}
.filter-input-text {
    width: 93%;
}
.filter-tab-button {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0084FF;
    padding: 7px 10px;
    color: #fff;
    margin-top: 20px;
    gap: 5px;
    border-radius: 10px;
}

.contacts-box {
    margin-top: 20px;
    padding: 20px;
}
.contacts-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.contacts-table th, .contacts-table td {
    width: 33.3%;
    color: #fff;
    border: none;
    text-align: left;
    font-size: 14px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.contacts-table th:last-child, .contacts-table td:last-child {
    border-right: none;
}
.contacts-table th{
    background-color: #0084FF;
    padding: 15px;
    font-weight: 400;
}
.contacts-table td {
    font-size: 12px;
    color: #8398c1;
    font-weight: 500;
}
.contacts-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.contacts-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.contacts-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.contacts-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.contacts-table tr:last-child td{
    border: none;
}
.contacts-table tr th:nth-child(2),
.contacts-table tr th:nth-child(3){
    border-left: #fff 1px solid;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    font-size: 14px;
}
.page-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.page-desc i{
    cursor: pointer;
}
.page-no{
    background-color: #0084FF;
    color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 50px;
    text-align: center;
}
.page-total{
    padding: 5px 10px;
    border-bottom: #ccc solid 2px;
}